@font-face {
    font-family: digital;
    src: url(fonts/electronic-clock-display.ttf);
}
.container{
    text-align: center;
}
.calculator{    
    background-color: #302e3a;
    width: 300px;
    padding: 20px 10px;
    margin: 0 auto;
    margin-top: 3em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
}
.display-box{
    background-color: #fff;
    text-align: right;
    margin: 1em;
}
.display-box p{
    margin: 0;
    font-size: 30px;
    background-color: #abaf77;
    font-family: digital;
    padding:8px 5px;
    border-top: 3px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #777777;
    border-bottom: 3px solid #777777;
    font-weight: bold;
}

button{
    background-color: #979cb2;
    color: #fff;
    font-size: 25px;
    width: 55px;
    height: 40px;
    margin: 0.2em;
    border-radius: 5px;
}
button.opr{
    background-color: #3e3b4b;
}
.clear{
    font-size: 23px;
    background-color: #f12424;
}
